.yellow-background {
  text-align: center;
  color: white;
  background-color: $yellow;
  padding: 35px 0px;
  img {
    height: 130px;
  }
}

.white-background {
  text-align: center;
  padding: 35px 0px;
  img {
    height: 220px;
  }
}

.photo-description {
  text-align: center;
  h3 {
    font-size: 24px;
    color: $yellow;
  }
}

#exemple {
  img{
    height: 500px;
  }
}
