.yellow-background, .white-background {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 66px;
  h2 {
    margin-bottom: 58px;
  }
  h3 {

  }
  ul {
    padding-left: 0px;
  }
  ul li {
    list-style-type: none;
    padding-bottom: 16px;
  }
}

.yellow-background {
  color: white;
  background-color: $blue;
  img {
    height: 220px;
  }
}

.white-background {
  img {
    height: 130px;
    fill: black;
  }
}

.photo-description {
  text-align: center;
  h4 {
    padding-bottom: 33px;
  }
}

#exemple {
  img{
    width: 88%;
    height: 88%;
  }
}

.contour-pricing {
  border: 1px solid $blue;
  border-radius: .35rem;
  background-color: white;
  padding: 0px 0px 17px 0px;
}

.background-pricing {
  color: white;
  background-color: $blue;
  h2 {
    padding: 17px;
    margin: 0px;
  }
}

.pricing-content {
  padding: 5px;
}

#price {
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    padding-bottom: 23px;
    font-size: 26px;
      span {
      color: grey;
      font-size: 1.5rem;
    }
  }

}
