.yellow-background {
  text-align: center;
  color: white;
  background-color: $yellow;
  padding: 35px 0px;
  img {
    height: 220px;
  }
}

.white-background {
  text-align: center;
  padding: 35px 0px;
  img {
    height: 130px;
    fill: black;
  }
}

.photo-description {
  text-align: center;
  h3 {
    font-size: 24px;
  }
}

#exemple {
  img{
    width: 88%;
    height: 88%;
  }
}

.contour-pricing {
  border: 1px solid $orange;
  border-radius: .35rem;
  background-color: white;
  padding: 0px 0px 17px 0px;
}

.background-pricing {
  color: white;
  background-color: $orange;
  h2 {
    padding: 17px;
    margin: 0px;
  }
}

.pricing-content {
  padding: 5px;
  span {
    color: grey;
    font-size: 1.5rem;
  }
}

