<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/TaTronche.io" target="_blank"><%= image_tag "images/icone/facebook.svg" %></a>
  </div>
  <div class="footer-copyright">
    Tatronche.io 2018 - Made with <i class="fa fa-heart"></i>
  </div>
</div>
